.work-section {
    @include mq(notDesktop) {
        display: none;
    }
}

.work-list {
    display: flex;

    &__description {
        position: absolute;
        bottom: 0;

        width: 100%;
        padding: 27px 0;

        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: $primary-white;

        background-color: rgba(47, 48, 58, 0.8);
    }
}

.work-list__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}