.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

.container {

    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @include mq(mobile) {
        width: 480px;
    }

    @include mq(tablet) {
        width: 768px;
    }

    @include mq(desktop) {
        width: 1200px;
    }
}


.section {
    padding-top: 94px;
    padding-bottom: 94px;

    margin-left: auto;
    margin-right: auto;

    @include mq(notDesktop) {
        padding-top: 60px;
        padding-bottom: 60px;
    }


    &__title {
        color: $secondary-text-color;

        font-size: 32px;
        line-height: 1.17;
        text-align: center;
        margin-bottom: 50px;
    }
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.48;

    color: $secondary-text-color;
    text-decoration: none;

    margin-right: 93px;

    @include mq(tablet-only) {
        margin-right: 88px;
    }

    &--accent {
        color: $accent-color;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    background-color: $accent-color;
    color: $primary-white;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    max-width: 202px;
    padding: 10px 32px;

    border: none;
    border-radius: 4px;

    cursor: pointer;
}